body {
	padding: 0 0 50px 0;
}

.btn {
	border-radius: 5px;
}

.circle {
	border-radius: 50%;
}

.pager .next>a,
.pager .next>span {
	float: left;
}

.pager .previous>a,
.pager .previous>span {
	float: right;
}

.carousel {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 4px;
}

.carousel .left,
.carousel .right {
	background: transparent;
}

.navbar {
	border: 0px;
	border-radius: 0px;
	max-width: 100%;
	position: relative;
}

	#searchform {
		padding: 0;
	}

.nav-thumbnail {
	border: 10px solid #fff;
	border-radius: 85px !important;
	margin-top: 120%;
	opacity: 0.5;

	-webkit-transition: 0.2s all linear;
	-moz-transition: 0.2s all linear;
	-ms-transition: 0.2s all linear;
	-o-transition: 0.2s all linear;
	transition: 0.2s all linear;
}
.nav-thumbnail:hover {
	border: 5px solid #fff;
	opacity: 1;
}

.post-container {
	overflow: hidden;
	position: relative;
}

	.thumbnail {
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 4px;
		width: 100%;
	}

	.post-details {
		background: rgba(255, 255, 255, 1);
		opacity: 0;
		padding: 1% 4%;	
		position: absolute;

		-webkit-transition: 0.2s all linear;
		-moz-transition: 0.2s all linear;
		-ms-transition: 0.2s all linear;
		-o-transition: 0.2s all linear;
		transition: 0.2s all linear;

		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.post-details:hover {
		opacity: 0.9;
	}

		.content {
			overflow: hidden;
			height: 77%;
		}

			.content a {
				color: #833;

				-webkit-transition: 0.2s all linear;
				-moz-transition: 0.2s all linear;
				-ms-transition: 0.2s all linear;
				-o-transition: 0.2s all linear;
				transition: 0.2s all linear;
			}
			.content a:hover {
				color: #f33;
				text-decoration: none;
			}

		.date {
			padding: 5% 0;
		}

.post-meta {
	overflow: hidden;
	padding: 10px 0 20px 0;
}









