/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar {
	border: 0px;
	border-radius: 0px;
	max-width: 100%;
}
















